.skipLink {
    position: absolute;
    left: -2000px;
    top: 10px;
    background-color: $primary;
    color: white;
    z-index: 10;
    &:focus {
        left: 0;
    }
}

.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

body{
    background-color: $primary;
}

img{
    max-width: 100%;
    display: block;
}

ul,
li,
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul{
    list-style: none;
}

label{
    margin-left: 0px;
    font-size: 1.5rem;
    color: $tertiary;
}


