// BUTTON STYLES FROM OUR INDEX PAGE
button{
    font-size: 1.5rem;
    font-family: $baseFont;
    background-color: transparent;
    border: none;
    padding: 10px 30px;
    border-radius: 20%;
    cursor: pointer;
    text-transform: uppercase;
}

