// index page header styles 
.headerParent{
    height: 80vh;
}
.starterHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .starterTitle{
        font-size: 6rem;
        margin-bottom: 30px;
    }
    a{  
        font-size: 4rem;
        font-weight: bold;
        padding: 50px 150px;
        border-radius: 5%;
        margin-top: 35px;
    }
}

.starterMain{
    height: 65vh;
    margin-top: 0px;
}

.pokemonLineup{
    position: absolute;
    top: -65px;
    left: -200px;
    z-index: -1;
}

.balls div {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.5;
}