footer {
    margin-top: 50px;
    padding: 20px 10px;
    background-color: $quaternary;
    opacity: 0.8;
    text-align: center;
    position: relative;
    p{
        font-size: 1.2rem;
        margin-top: 5px;
    }
}

.iconContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1px;
    i{  font-size: 2rem;
        margin: 10px auto;
    }
}