// STARTER PAGE MAIN SECTION

.flexParent{
    margin: 0 auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $secondary;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .flexChild {
        max-height: 600px;
        border-radius: 40px;
        max-width: 90%;
        margin: 20px;
        img{
            width: 100%;
            max-height: 500px;
            height: inherit;
            border-radius: 40px;
        }
    }

    .animeSelect{
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            label{
                margin-bottom: 20px;
            }
            select{
                max-width: 350px;
                margin: 0 auto;
                text-align: center;
                height: 50px;
                background-color: $secondary;
                border: 2px solid black;
                border-radius: 40px;
                padding: 10px;

            }
        }
    }
    .mediaContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.gifImgDiv{
    margin: auto;
    max-height: fit-content;
    .gifImage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: fit-content;
    }
}


// 

// STARTER PAGE Select FORM styles 

.animeSelect{
    background-color: transparent;
    border: none;
    &:hover{
        transform: none;
    }
}

// style for the anime facts 

.factAnime{
    border: 6px groove $tertiary;
    border-radius: 40px;
}

.flexFact p{
    text-align: center;
    margin-top: 4%;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: 2px;
    color: $tertiary;
    padding: 30px;
}

// GIF Container styles
.gifImgLi{
    background-color: black;
}

iframe{
    width: 100%;
    height: 400px;
}

.pikachu{
    height: 20%;
    width: 20%;
    margin-left: 10px;
    margin-top: 10px;
}