// STARTER PAGE MAIN SECTION
.flexParent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    .flexChild{
        margin: 10px 10px;
        padding: 0;
        width: calc((100% / 2) - 20px);
    }

    .flexImg{
        flex-basis: 35%;
    }
}

.flexChild{
    max-height: 600px;

    img{
        width: 100%;
        max-height: 500px;
        height: inherit;
    }
}

// STARTER PAGE Select FORM styles 

select{
    width: 65%;
    text-align: center;
    margin-top: 20px;
    height: 40px;
    background-color: $secondary;
    border-radius: 40px;
}

.animeSelect{
    background-color: transparent;
    border: none;
    &:hover{
        transform: none;
    }
}

// style for the anime facts 

.flexFact{
    position: relative;
    img{
        position: absolute;
        top: -100px;
        width: 40%;
        object-fit: contain;
        height: 150px; 
    }
}

.factAnime{
    border: 6px groove $tertiary;
    border-radius: 40%;
}

.flexFact p{
    text-align: center;
    margin-top: 4%;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: 2px;
    color: $tertiary;
    padding: 30px;
}

// GIF Container styles
.gifImgLi{
    background-color: black;
}
.gifImage{
    border: 1px solid black;
}
iframe{
    width: 100%;
    height: 400px;
}