@media (max-width: 1000px){
    // media queries for index.html
    .animeSelect{
        select{
            width: 50%;
            padding-top: 15px;
        }

        button{
            font-size: 1.3rem;
            padding: 10px 10px;
    
        }
    }

    .flexFact p{
        font-size: 1.2rem;
    }

    label{
        font-size: 1.2rem;
    }

    // media queries for start.html
    .starterHeader a {
        font-size: 2.5rem;
        border: 1px solid salmon;
        padding: 40px 120px;
    }
}

@media(max-width:700px){
    // media queries for index.html
    .animeSelect {
        select {
            padding-top: 10px;
            width: 100%;
            margin: 20px 0 0 0;
        }
    
        button {
            margin-top: 20px;
            font-size: 1rem;
            padding: 10px 10px;
        }
    }

    .flexFact p {
        font-size: 1rem;
        line-height: 30px;
    }




    // media queries for start.html
    .starterHeader a {
        font-size: 2.5rem;
        border: 10px inset salmon;
        border-radius: 40%;
        padding: 40px 120px;
    }

    footer p{
        font-size: 1rem;
    }
}

@media(max-width:500px){
    // media queries for index.html
    // Nav SlideOut media queries
    .logo{
        top: 0px;
    }
    nav {
            .showMe {
                visibility: visible;
            }
    
            input {
                position: absolute;
                right: 0;
            }
    
            .navBar {
                flex-direction: column;
                justify-content: center;
            }
    
            input[type="checkbox"]:checked~.slideOut {
                right: 0;
                z-index: 4;
            }
    
            label[for="toggle"] {
                position: fixed;
                color: $tertiary;
                top: 10px;
                left: 15px;
                z-index: 5;
                font-size: 2rem;
            }
    
            .slideOut {
                position: fixed;
                width: 100vw;
                right: -110%;
                background-color: $primary;
                opacity: 0.95;
                height: 100vh;
                transition: 0.5s;
            }
    
            .slideOut li {
                width: 100%;
            }
    
            .slideOut a {
                display: inline-block;
                text-align: center;
                width: 100%;
                padding: 10px;
                font-size: 2rem;
            }
        }

        h1{
            margin-top: 50px;
        }

    .animeSelect {
        select {
            padding-top: 10px;
        }
    
        button {
            font-size: 1rem;
            padding: 10px 10px;
        }
    }

    .flexParent{
        flex-direction: column;
        align-items: center;
    }

    // media queries for start.html
    .iconContainer {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 1px;
        left: 40%;
    
        i {
            font-size: 1.2rem;
            margin: 5px 10px;
        }
    }
}

@media(max-width:330px){
    // media queries for index.html
    label{
        font-size: 1rem;
    }
    // media queries for start.html
    .starterHeader{
        h1{
            font-size: 3.5rem;
        }
        a {
            font-size: 2.5rem;
            border: 10px inset salmon;
            border-radius: 40%;
            padding: 20px 50px;
    
        }

        p{
            font-size: 0.8rem;
        }

    } 

    .iconContainer {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 1px;
        left: 35%;
    
        i {
            font-size: 1.2rem;
            margin: 5px 10px;
        }
    }

    footer p {
        font-size: 0.8rem;
    }
}

