@media (max-width: 1000px){
    // media queries for START.html

    .flexParent{
        .mediaContainer{
            flex-direction: column;
        }
        .animeSelect{
            width: 100%;
            form{
                width: 100%;
            }
            select{
                width: 100%;
                padding-top: 15px;
            }
            
            button{
                font-size: 1.3rem;
                padding: 10px 10px;
            }
        }
    
        .flexFact p{
            font-size: 1.2rem;
        }
    
        label{
            font-size: 1.2rem;
            text-align: center;
        }
}
    // media queries for index.html
    .starterHeader{
        a {
            font-size: 2.5rem;
        }
        p{
            display: none;
        }
    }

    .starterMain {
        margin-top: 200px;
    }

    .pokemonLineup{
        top: 150px;
    }
}

@media(max-width:700px){
    // media queries for START.html
    .animeSelect {
        select {
            padding-top: 10px;
            width: 100%;
            margin: 20px 0 0 0;
        }
    }

    .flexFact {
        p {
        font-size: 1rem;
        line-height: 30px;
        }
        img{
            top: -85px;
        }
    }

    // media queries for index.html
    .starterHeader a {
        font-size: 2.5rem;
        padding: 50px 75px;
    }

    footer{
        position: unset;
        .footerContainer{
            display: flex;
            flex-direction: column;
            .iconContainer {
                position: unset;
                flex-direction: row;
                justify-content: center;
                a{
                    margin-right: 10px;
                }
                i {
                    font-size: 1.2rem;
                    margin: 5px 1px;
                }
            }
        }
    }

    .pokemonLineup {
        display: none;
    }
}

@media(max-width:500px){
    // media queries for START.html
    // Nav SlideOut media queries
    .logo{
        top: 0px;
    }
    nav {
            .showMe {
                visibility: visible;
            }
    
            input {
                position: absolute;
                right: 0;
            }
    
            .navBar {
                flex-direction: column;
                justify-content: center;
            }
    
            input[type="checkbox"]:checked~.slideOut {
                right: 0;
                z-index: 4;
            }
    
            label[for="toggle"] {
                position: fixed;
                color: $tertiary;
                top: 10px;
                left: 15px;
                z-index: 5;
                font-size: 2rem;
            }
    
            .slideOut {
                position: fixed;
                width: 100vw;
                right: -110%;
                background-color: $primary;
                opacity: 0.95;
                height: 100vh;
                transition: 0.5s;
            }
    
            .slideOut li {
                width: 100%;
            }
    
            .slideOut a {
                display: inline-block;
                text-align: center;
                width: 100%;
                padding: 10px;
                font-size: 2rem;
            }
        }

        h1{
            margin-top: 50px;
        }

    .animeSelect {
        select {
            padding-top: 10px;
        }
    
        button {
            font-size: 1rem;
            padding: 10px 10px;
        }
    }

    .flexParent{
        flex-direction: column;
        align-items: center;
    }

    // media queries for index.html
    .starterHeader {
        a {
            padding: 50px 50px;
        }
        a:hover,
        :focus {
            transform: scale(0.9);
        }
    }
    
}

@media(max-width:330px){
    // media queries for start.html
    label{
        font-size: 1rem;
    }
    .flexFact {
        img {
            top: -76px;
        }
    }
    
    // media queries for index.html
    .headerParent{
        height: 60vh;
    }
    .starterHeader{
        .starterTitle{
            font-size: 3rem;
        }
        a {
            font-size: 2.5rem;
        }
        a:hover,
        :focus {
            transform: scale(0.7);
        }                
        p{
            font-size: 0.8rem;
        }
    } 

    footer p {
        font-size: 0.8rem;
    }
}

