// starter page header styles 

.headerParent{
    height: 75vh;
}
.starterHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 5rem;
    }
    a{  
        font-size: 3rem;
        border: 1px solid salmon;
        padding: 50px 150px;
        background-color: salmon;
        border-radius: 5%;
        margin-top: 10px;
    }
}

.carouselFlexChild{
    border: 1px solid red;

}
.carouselFlexChild img{
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

}

.starterMain{
    height: 65vh;
    margin-top: 30px;
}

.carouselFlexParent{
    display: flex;
    justify-content: center;
}