html{
    font-size: 125%;
}

body{
    p{
        font-family:$baseFont;
        color: $quinary;
        font-weight: normal;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 1px;
    }
}


