html{
    font-size: 125%;
}

body{
    font-family: $baseFont;
    p{
        color: $quinary;
        font-weight: normal;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 1px;
    }
}

h1{
    font-family: $headingFont;
    color: $secondary;
    font-size: 3rem;
    text-align: center;
}

a{
    color: blue;
}




