// fonts family
$baseFont:'Edu SA Beginner', cursive;
$headingFont: 'Permanent Marker', cursive;

// colors 
$primary:#fee685;
$secondary:#CD853F;
$tertiary:#401c02;
$quaternary:#f4e2c6;
$quinary:#000;
$gradient: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

