// fonts family
$baseFont:'Edu SA Beginner', cursive;
$headingFont: 'Permanent Marker', cursive;

// colors 
$primary:#FF7F50;
$secondary:#FFA07A;
$tertiary:#FF8C00;
$quaternary:#FFD700;
$quinary:#000;
$gradient:linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

