// fonts family
$baseFont:'Edu SA Beginner', cursive;
$headingFont: 'Permanent Marker', cursive;

// colors 
$primary: #1D2228;
$secondary: #FB8122;
$tertiary: #E1E2E2;
$quaternary:BLACK;
$quinary:rgb(248, 234, 234);
$gradient: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

