// imports here 
@import './partials/setup';
@import './partials/variables';
@import './partials/typography';
@import './partials/baseStyles';
@import './partials/animation';
@import './partials/buttonStyles';
@import './partials/starterPageStyles';
@import './partials/carouselStyles';
@import './partials/nav';
@import './partials/mainSectionStyles';
@import './partials/footer';
@import './partials/mediaQueries';