html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Edu SA Beginner", cursive;
}
body p {
  color: #000;
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 1px;
}

h1 {
  font-family: "Permanent Marker", cursive;
  color: #CD853F;
  font-size: 3rem;
  text-align: center;
  margin: 100px 0 100px 0;
}

a {
  color: #401c02;
}

.skipLink {
  position: absolute;
  left: -2000px;
  top: 10px;
  background-color: #fee685;
  color: white;
  z-index: 10;
}
.skipLink:focus {
  left: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #fee685;
}

img {
  max-width: 100%;
  display: block;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

label {
  margin-left: 0px;
  font-size: 1.5rem;
  color: #401c02;
}

nav li {
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}
nav li:hover,
nav :focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@-webkit-keyframes akatsuki {
  0% {
    margin-top: 100px;
  }
  20%, 40%, 60%, 80% {
    margin-left: 100px;
  }
  10%, 30%, 50%, 70%, 90% {
    margin-left: 10px;
  }
  100% {
    margin-left: 20px;
  }
}

@keyframes akatsuki {
  0% {
    margin-top: 100px;
  }
  20%, 40%, 60%, 80% {
    margin-left: 100px;
  }
  10%, 30%, 50%, 70%, 90% {
    margin-left: 10px;
  }
  100% {
    margin-left: 20px;
  }
}
.flexChild .cloud {
  -webkit-animation: akatsuki 10s ease-in-out infinite;
          animation: akatsuki 10s ease-in-out infinite;
  height: 200px;
  width: 300px;
}

.logo {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.logo:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

li img {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.starterHeader a:hover,
.starterHeader :focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #401c02;
  background-color: #CD853F;
}

a:hover {
  color: #CD853F;
}

.fade {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-300px) rotate(90deg);
            transform: scale(1) translateY(-300px) rotate(90deg);
  }
}
@keyframes animate {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-300px) rotate(90deg);
            transform: scale(1) translateY(-300px) rotate(90deg);
  }
}
.balls div:nth-child(1) {
  bottom: 12%;
  right: 42%;
  -webkit-animation: animate 12s ease infinite;
          animation: animate 12s ease infinite;
}

.balls div:nth-child(2) {
  bottom: 70%;
  right: 50%;
  -webkit-animation: animate 12s ease infinite;
          animation: animate 12s ease infinite;
}

.balls div:nth-child(3) {
  bottom: 17%;
  right: 6%;
  -webkit-animation: animate 12s ease infinite;
          animation: animate 12s ease infinite;
}

.balls div:nth-child(4) {
  bottom: 20%;
  left: 10%;
  -webkit-animation: animate 15s ease infinite;
          animation: animate 15s ease infinite;
}

.balls div:nth-child(5) {
  bottom: 67%;
  right: 15%;
  -webkit-animation: animate 15s ease infinite;
          animation: animate 15s ease infinite;
}

.balls div:nth-child(6) {
  bottom: 80%;
  right: 5%;
  -webkit-animation: animate 15s ease infinite;
          animation: animate 15s ease infinite;
}

.balls div:nth-child(7) {
  bottom: 60%;
  left: 80%;
  -webkit-animation: animate 15s ease infinite;
          animation: animate 15s ease infinite;
}

.balls div:nth-child(8) {
  bottom: 32%;
  left: 25%;
  -webkit-animation: animate 16s ease infinite;
          animation: animate 16s ease infinite;
}

button {
  font-size: 1.5rem;
  font-family: "Edu SA Beginner", cursive;
  background-color: transparent;
  border: none;
  padding: 10px 30px;
  border-radius: 20%;
  cursor: pointer;
  text-transform: uppercase;
}

.headerParent {
  height: 80vh;
}

.starterHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.starterHeader h1 {
  margin: 0;
}
.starterHeader .starterTitle {
  font-size: 6rem;
}
.starterHeader a {
  font-size: 4rem;
  font-weight: bold;
  padding: 50px 150px;
  border-radius: 5%;
  margin: 70px 0px 70px 0;
}

.starterMain {
  height: 75vh;
}

.pokemonLineup {
  position: absolute;
  top: -65px;
  left: -200px;
  z-index: -1;
}

.balls div {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.slideShow {
  display: none;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: white;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ul li {
  margin: 0 20px;
}
ul a {
  font-size: 1.2rem;
}

.logo {
  background-image: transparent;
  position: absolute;
  right: 0;
  top: 10px;
  width: 100px;
  height: 60px;
}
.logo img {
  height: 100%;
  width: 100%;
}

input[type=checkbox] {
  opacity: 0;
}
input[type=checkbox]:focus + label {
  border: 1px dotted #fee685;
  color: #CD853F;
}

.showMe {
  visibility: hidden;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.flexParent .flexChild {
  margin: 10px 10px;
  padding: 0;
  width: calc(50% - 20px);
}
.flexParent .flexImg {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.flexChild {
  max-height: 600px;
}
.flexChild img {
  width: 100%;
  max-height: 500px;
  height: inherit;
}

select {
  width: 65%;
  text-align: center;
  margin-top: 20px;
  height: 40px;
  background-color: #CD853F;
  border-radius: 40px;
}

.animeSelect {
  background-color: transparent;
  border: none;
}
.animeSelect:hover {
  -webkit-transform: none;
          transform: none;
}

.flexFact {
  position: relative;
}
.flexFact img {
  position: absolute;
  top: -100px;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 150px;
}

.factAnime {
  border: 6px groove #401c02;
  border-radius: 40%;
}

.flexFact p {
  text-align: center;
  margin-top: 4%;
  font-size: 1.5rem;
  line-height: 40px;
  letter-spacing: 2px;
  color: #401c02;
  padding: 30px;
}

.gifImgLi {
  background-color: black;
}

.gifImage {
  border: 1px solid black;
}

iframe {
  width: 100%;
  height: 400px;
}

footer {
  margin-top: 50px;
  padding: 20px 10px;
  background-color: #f4e2c6;
  opacity: 0.8;
  text-align: center;
  position: relative;
}
footer p {
  font-size: 1.2rem;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 30px;
}
.iconContainer i {
  font-size: 2rem;
  margin: 10px auto;
}

@media (max-width: 1000px) {
  .animeSelect select {
    width: 50%;
    padding-top: 15px;
  }
  .animeSelect button {
    font-size: 1.3rem;
    padding: 10px 10px;
  }
  .flexFact p {
    font-size: 1.2rem;
  }
  label {
    font-size: 1.2rem;
  }
  .starterHeader a {
    font-size: 2.5rem;
  }
  .starterHeader p {
    display: none;
  }
  .starterMain {
    margin-top: 200px;
  }
}
@media (max-width: 700px) {
  .animeSelect select {
    padding-top: 10px;
    width: 100%;
    margin: 20px 0 0 0;
  }
  .flexFact p {
    font-size: 1rem;
    line-height: 30px;
  }
  .flexFact img {
    top: -85px;
  }
  .starterHeader a {
    font-size: 2.5rem;
    padding: 50px 75px;
  }
  footer p {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .logo {
    top: 0px;
  }
  nav .showMe {
    visibility: visible;
  }
  nav input {
    position: absolute;
    right: 0;
  }
  nav .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav input[type=checkbox]:checked ~ .slideOut {
    right: 0;
    z-index: 4;
  }
  nav label[for=toggle] {
    position: fixed;
    color: #401c02;
    top: 10px;
    left: 15px;
    z-index: 5;
    font-size: 2rem;
  }
  nav .slideOut {
    position: fixed;
    width: 100vw;
    right: -110%;
    background-color: #fee685;
    opacity: 0.95;
    height: 100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav .slideOut li {
    width: 100%;
  }
  nav .slideOut a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 2rem;
  }
  h1 {
    margin-top: 50px;
  }
  .animeSelect select {
    padding-top: 10px;
  }
  .animeSelect button {
    font-size: 1rem;
    padding: 10px 10px;
  }
  .flexParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .starterHeader a {
    padding: 50px 50px;
  }
  .starterHeader a:hover,
.starterHeader :focus {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .iconContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    bottom: 1px;
    left: 40%;
  }
  .iconContainer i {
    font-size: 1.2rem;
    margin: 5px 10px;
  }
}
@media (max-width: 330px) {
  label {
    font-size: 1rem;
  }
  .flexFact img {
    top: -76px;
  }
  .headerParent {
    height: 60vh;
  }
  .starterHeader .starterTitle {
    font-size: 3rem;
  }
  .starterHeader a {
    font-size: 2.5rem;
  }
  .starterHeader a:hover,
.starterHeader :focus {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .starterHeader p {
    font-size: 0.8rem;
  }
  .iconContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    bottom: 1px;
    left: 35%;
  }
  .iconContainer i {
    font-size: 1.2rem;
    margin: 5px 10px;
  }
  footer p {
    font-size: 0.8rem;
  }
}